body {
  font-family: Arial;
  background-color: skyblue;
  overscroll-behavior: none;
}
#content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

button {
  cursor: pointer;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #3e8e41;
  color: white;
}

button:disabled,
button:disabled:hover {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.inputDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.inputDiv input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  outline: none;
}
